# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальные окружения
venv/
env/
ENV/
.venv/
.env/

# Модели и данные нейросети
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.onnx

# Логи
*.log

# Результаты обучения
results/
output/
data/
/_trash/voice_recognition_model.ipynb
/_trash/train dataset.zip
/_trash/Технические требования.docx
/_trash/Readme.docx
/_trash/env_example.zip
/_trash/
/_trash/
/data/
/_app/
/ml/trained_model.keras
/_trash/example/
